@use '@angular/material' as mat;

// Definisco un tema light usando le design tokens
$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette
  )
));

// Applico il tema al root
html {
  @include mat.all-component-themes($my-theme);
  @include mat.typography-hierarchy($my-theme);
}
