@use '@angular/material' as mat;

// Definisco un tema light usando le design tokens
$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    plain-family: 'Roboto, sans-serif',
  ),
));

// Applico il tema al root
html {
  @include mat.all-component-themes($my-theme);
  @include mat.typography-hierarchy($my-theme);
}

// Stili globali
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: 'Roboto, sans-serif';
}
