<mat-toolbar class="azure-toolbar">
  <span class="toolbar-title">Compilazione scheda cliente</span>
</mat-toolbar>

<div class="form-container">
  <!-- Form a sinistra -->
<div class="form-wrapper">
    <form (ngSubmit)="salva()">
      
      <h2>Inserisci i tuoi dati</h2>
      
      <div class="inline-group">
        <mat-form-field class="pair" appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="paziente.name" name="name">
        </mat-form-field>

        <mat-form-field class="pair" appearance="fill">
          <mat-label>Cognome</mat-label>
          <input matInput [(ngModel)]="paziente.surname" name="surname">
        </mat-form-field>

        <mat-form-field class="pair small" appearance="fill">
          <mat-label>Genere</mat-label>
          <mat-select [(ngModel)]="paziente.gender" name="gender">
            <mat-option value="M">Maschile</mat-option>
            <mat-option value="F">Femminile</mat-option>
            <mat-option value="Altro">Altro</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Data e Città di nascita -->
      <div class="inline-group double">
        <mat-form-field class="pair" appearance="fill">
          <mat-label>Data di nascita</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="paziente.birthDate" name="birthDate"/>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="pair" appearance="fill">
          <mat-label>Città di nascita</mat-label>
          <input matInput [(ngModel)]="paziente.cityOfBirth" name="cityOfBirth">
        </mat-form-field>
      </div>

      <!-- Indirizzo e Civico -->
      <div class="inline-group">
        <mat-form-field class="pair" appearance="fill">
          <mat-label>Indirizzo</mat-label>
          <input matInput [(ngModel)]="paziente.address" name="address">
        </mat-form-field>

        <mat-form-field class="pair" appearance="fill">
          <mat-label>Civico</mat-label>
          <input matInput [(ngModel)]="paziente.houseNumber" name="houseNumber">
        </mat-form-field>
      </div>

       <!-- Città e CAP -->
      <div class="inline-group">
        <mat-form-field class="pair" appearance="fill">
          <mat-label>Città</mat-label>
          <input matInput [(ngModel)]="paziente.city" name="city">
        </mat-form-field>

        <mat-form-field class="pair" appearance="fill">
          <mat-label>CAP</mat-label>
          <input matInput [(ngModel)]="paziente.zipCode" name="zipCode">
        </mat-form-field>
      </div>

      <!-- Email e Telefono -->
      <div class="inline-group">
        <mat-form-field class="pair" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="paziente.email" name="email" placeholder="name@example.com">
        </mat-form-field>

        <mat-form-field class="pair" appearance="fill">
          <mat-label>Cellulare</mat-label>
          <input matInput [(ngModel)]="paziente.phone" name="phone">
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div class="bottonLine">
        <button mat-raised-button color="primary" type="submit">Salva</button>
        <button mat-raised-button color="warn" type="button" (click)="reset()">Reset</button>
      </div>

      <h2>Registrazione Audio</h2>
      
      <div class="bottonLine">
        <button type="button" (click)="startRecording()" [disabled]="isRecording">Avvia</button>
        <button type="button" (click)="stopRecording()" [disabled]="!isRecording">Ferma</button>
      </div>
        <p *ngIf="isRecording" style="color: red;">Registrazione in corso...</p>

      <button type="button" (click)="inviaTrascrizione(trascrizioneProva)">Invia trascrizione di prova</button>

      <audio *ngIf="audioUrl" [src]="audioUrl" controls></audio>
    </form>
  </div>

  <!-- Box trascrizione a destra -->
  <div class="transcription-box">
    <h2>Trascrizione</h2>
    <textarea id="trascrizione" name="trascrizione" rows="30" [(ngModel)]="trascrizione" readonly></textarea>
  </div>
</div>