<mat-toolbar class="azure-toolbar">
  <span class="toolbar-title">Compilazione scheda cliente</span>

  <span class="toolbar-buttons">
    <!-- Pulsante unico microfono -->
    <button mat-icon-button 
            class="mic-button" 
            (click)="isRecording ? stopRecording() : startRecording()"
            [class.recording]="isRecording">
      <mat-icon>{{ isRecording ? 'mic_off' : 'mic' }}</mat-icon>
    </button>

    <!-- Pulsante download audio -->
    <button mat-icon-button 
          (click)="downloadAudio()" 
          [disabled]="!audioUrl || isRecording">
      <mat-icon style="color: #003a7a;">download</mat-icon>
    </button>
  </span>
</mat-toolbar>

<!-- Parte superiore: form + anamnesi -->
<div class="form-container">
  <div class="transcription-box">
    <textarea #trascrizioneBox id="trascrizione" name="trascrizione" rows="30" [(ngModel)]="trascrizione" readonly> </textarea>
  </div>
  <div class="top-section">
  <!-- Form completo -->
  <div class="form-wrapper" [ngClass]="{'highlight-border': context === 'anagrafica'}">
    <div class="form-column">
      <form (ngSubmit)="salva()">
        <h2>Anagrafica</h2>

        <!-- Nome, Cognome, Genere -->
        <div class="inline-group">
          <mat-form-field class="pair" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="paziente.name" name="name">
            <mat-icon matSuffix>person_outline</mat-icon>
          </mat-form-field>

          <mat-form-field class="pair" appearance="fill">
            <mat-label>Cognome</mat-label>
            <input matInput [(ngModel)]="paziente.surname" name="surname">
            <mat-icon matSuffix>person_outline</mat-icon>
          </mat-form-field>

          <mat-form-field class="pair small" appearance="fill">
            <mat-label>Genere</mat-label>
            <mat-select [(ngModel)]="paziente.gender" name="gender">
              <mat-option value="M">Maschile</mat-option>
              <mat-option value="F">Femminile</mat-option>
              <mat-option value="Altro">Altro</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Data e città di nascita -->
        <div class="inline-group double">
          <mat-form-field class="pair" appearance="fill">
            <mat-label>Data di nascita</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="paziente.birthDate" name="birthDate"/>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="pair" appearance="fill">
            <mat-label>Città di nascita</mat-label>
            <input matInput [(ngModel)]="paziente.cityOfBirth" name="cityOfBirth">
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>
        </div>

        <!-- Indirizzo e Civico -->
        <div class="inline-group">
          <mat-form-field class="pair" appearance="fill">
            <mat-label>Indirizzo</mat-label>
            <input matInput [(ngModel)]="paziente.address" name="address">
            <mat-icon matSuffix>home</mat-icon>
          </mat-form-field>

          <mat-form-field class="pair" appearance="fill">
            <mat-label>Civico</mat-label>
            <input matInput [(ngModel)]="paziente.houseNumber" name="houseNumber">
            <mat-icon matSuffix>pin</mat-icon>
          </mat-form-field>
        </div>

        <!-- Città e CAP -->
        <div class="inline-group">
          <mat-form-field class="pair" appearance="fill">
            <mat-label>Città</mat-label>
            <input matInput [(ngModel)]="paziente.city" name="city">
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>

          <mat-form-field class="pair" appearance="fill">
            <mat-label>CAP</mat-label>
            <input matInput [(ngModel)]="paziente.zipCode" name="zipCode">
            <mat-icon matSuffix>markunread_mailbox</mat-icon>
          </mat-form-field>
        </div>

        <!-- Email e Telefono -->
        <div class="inline-group">
          <mat-form-field class="pair" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="paziente.email" name="email" placeholder="name@example.com">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="pair" appearance="fill">
            <mat-label>Cellulare</mat-label>
            <input matInput [(ngModel)]="paziente.phone" name="phone">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>

          <!-- Bottoni di invio e reset -->
        <div class="bottonLine">
          <button mat-raised-button type="submit">Salva</button>
          <button mat-raised-button type="button" (click)="reset()">Reset</button>
        </div>
      </form>
    </div>
    </div>

      <mat-divider></mat-divider>

      <!-- Anamnesi -->
      <div class="anamnesi-column"  [ngClass]="{'highlight-border': context === 'anamnesi'}">
        <h2>Anamnesi</h2>
        <div class="anamnesi-grid">
          
          <!-- Colonna 1 -->
          <div class="anamnesi-subcolumn">
            <h3>Malattie</h3>
            <mat-checkbox [(ngModel)]="paziente.malattie.cardiopatia" name="cardiopatia">Cardiopatia</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.pacemaker" name="pacemaker">Pacemaker</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.ipertensione" name="ipertensione">Ipertensione</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.ipotensione" name="ipotensione">Ipotensione</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.svenimenti" name="svenimenti">Tendenza agli svenimenti</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.emorragie" name="emorragie">Disturbi emorragici</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.reumatismi" name="reumatismi">Reumatismi</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.diabete" name="diabete">Diabete</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.tiroide" name="tiroide">Malattie tiroidee</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.malattie_organi_interni" name="organi">Malattie organi interni</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.malattie_stomaco_intestino" name="stomaco">Malattie stomaco</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.malattie_respiratorie" name="respiratorie">Malattie respiratorie</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.epilessia" name="epilessia">Epilessia</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.malattie.osteoporosi" name="osteoporosi">Osteoporosi</mat-checkbox>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Altre malattie</mat-label>
              <input matInput [(ngModel)]="paziente.malattie.altre_malattie" name="altre_malattie">
            </mat-form-field>
          </div>

          <!-- Colonna 2 -->
          <div class="anamnesi-subcolumn">
            <h3>Allergie</h3>
            <mat-checkbox [(ngModel)]="paziente.allergie.antibiotici" name="antibiotici">Antibiotici</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.allergie.anestetici_locali" name="anestetici">Anestetici locali</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.allergie.lattice" name="lattice">Lattice</mat-checkbox>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Altre allergie</mat-label>
              <input matInput [(ngModel)]="paziente.allergie.altre_allergie" name="altre_allergie">
            </mat-form-field>

            <h3>Infezioni</h3>
            <mat-checkbox [(ngModel)]="paziente.infezioni.epatite" name="epatite">Epatite</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.infezioni.tubercolosi" name="tubercolosi">Tubercolosi</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.infezioni.hiv" name="hiv">HIV</mat-checkbox>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Altre infezioni</mat-label>
              <input matInput [(ngModel)]="paziente.infezioni.altre_infezioni" name="altre_infezioni">
            </mat-form-field>

            
            <h3>Gravidanza</h3>
            <mat-radio-group name="gravidanza">
              <mat-radio-button value="sconosciuto" 
                                [checked]="paziente.stato_gravidanza.sconosciuto" 
                                (change)='paziente.stato_gravidanza = {sconosciuto: true, no: false, si: false, settimane: ""}'> Sconosciuto
              </mat-radio-button>
              <mat-radio-button value="no" 
                                [checked]="paziente.stato_gravidanza.no" 
                                (change)='paziente.stato_gravidanza = {sconosciuto: false, no: true, si: false, settimane: ""}'> No
              </mat-radio-button>
              <mat-radio-button value="si" 
                                [checked]="paziente.stato_gravidanza.si" 
                                (change)='paziente.stato_gravidanza = {sconosciuto: false, no: false, si: true, settimane: ""}'> Sì
              </mat-radio-button>
            </mat-radio-group>

            <div *ngIf="paziente.stato_gravidanza.si" class="nested-field">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Settimane</mat-label>
                <input matInput [(ngModel)]="paziente.stato_gravidanza.settimane" name="settimane">
              </mat-form-field>
            </div>
          </div>

          <!-- Colonna 3 -->
          <div class="anamnesi-subcolumn">
            <h3>Farmaci</h3>
            <mat-checkbox [(ngModel)]="paziente.farmaci.marcumar" name="marcumar">Marcumar</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.farmaci.ass" name="ass">ASS</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.farmaci.anticoagulanti" name="anticoagulanti">Anticoagulanti</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.farmaci.bisfosfonati" name="bisfosfonati">Bisfosfonati</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.farmaci.anticoagulanti_orali" name="anticoagulanti_orali">Anticoagulanti orali</mat-checkbox>
            <mat-checkbox [(ngModel)]="paziente.farmaci.reazioni_farmaci" name="reazioni_farmaci">Reazioni farmaci</mat-checkbox>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Altri farmaci</mat-label>
              <input matInput [(ngModel)]="paziente.farmaci.altri_farmaci" name="altri_farmaci">
            </mat-form-field>

            <h3>Altro</h3>
            <mat-checkbox [(ngModel)]="paziente.altro.fumatore" name="fumatore"> Fumatore </mat-checkbox>

            <div *ngIf="paziente.altro.fumatore" class="nested-field">
              <mat-radio-group name="sigarette">
                <mat-radio-button value="piu10"
                                  [checked]="paziente.altro.piu_10_sigarette"
                                  (change)="paziente.altro.piu_10_sigarette = true; paziente.altro.meno_10_sigarette = false"> Più di 10 sigarette al giorno
                </mat-radio-button>
                
                <mat-radio-button value="meno10"
                                  [checked]="paziente.altro.meno_10_sigarette"
                                  (change)="paziente.altro.meno_10_sigarette = true; paziente.altro.piu_10_sigarette = false"> Meno di 10 sigarette al giorno
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
