.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inline-group {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.pair {
  display: flex;
  align-items: center;
  gap: .5rem;
  flex: 1;
  min-width: 100px;
}

.pair label {
  white-space: nowrap;
  min-width: 100px;
  font-weight: bold;
}

.pair input {
  flex: 1;
  padding: 0.4rem;
  box-sizing: border-box;
}

.pair.small {
  flex: 0 0 150px;
}

.pair.small input {
  width: 60px;
}

button {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.bottonLine button {
  margin-right: 10px;
}

.bottonLine {
  margin: 20px;
  text-align: center;
}

audio {
  display: block;
  margin: 20px auto;
}